@font-face {
  font-family: "Figtree-Light";
  src: url("../assets/fonts/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-Regular";
  src: url("../assets/fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------Navbar Container--------------------------*/
.navbar-header {
  background: white;
  border-bottom: 1px solid #c86836;
  padding: 30px 0px;
  font-family: "Figtree-Regular";
  position: relative;
  /* needed for absolute menu */
  z-index: 10;
}

.navbar-container {
  width: 90% !important;
  padding: 0px 20px !important;
}

.navbar-header .row {
  display: flex;
  align-items: center;
}

/* -------------------------------Logo--------------------------------*/
.navbar-logo img {
  width: auto;
  height: auto;
}

/*------------------------------Icons container----------------------------- */
.navbar-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  position: relative;
}

/* Avatar button */
.user-avatar {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-avatar {
  background-color: #8c6239 !important;
  font-size: 18px !important;
  width: 25px !important;
  height: 25px !important;
  text-transform: uppercase !important;
}

/* Cart */
.cart-link {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #8c6239;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
  min-width: 18px;
  text-align: center;
}

/* Icons */
.icon {
  font-size: 20px;
  color: #444;
  transition: color 0.3s;
}

.icon:hover {
  color: #8c6239;
}

/* Contact-Link */
.contact-mobile {
  display: none;
}

.contact-link {
  font-family: "Figtree-Regular";
  display: inline-block;
  font-size: 18px;
  color: #898989;
  transition: color 0.3s;
  text-decoration: none;
  padding-right: 5px;
}

.contact-link:hover {
  color: #8c6239;
}

/* Navbar Dropdown (MUI Menu) */
.navbar-menu-dropdown {
  border-radius: 8px !important;
  border: 1px solid #ccc !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) !important;
  min-width: 180px !important;
  padding: 4px 0 !important;
}

.navbar-menu-item {
  font-family: "Figtree-Regular" !important;
  font-size: 15px !important;
  color: #333 !important;
  padding: 10px 16px !important;
}

.navbar-menu-item:hover {
  background-color: #f2f2f2 !important;
  color: #8c6239 !important;
}

/*-----------------------------Menu-----------------------------*/
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navbar-menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #c86836;
}

.navbar-desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.navbar-menu-desktop {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar-menu-desktop li a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  padding: 5px 5px;
  transition: color 0.3s ease;
}

.navbar-menu-desktop li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: #c86836;
  transition: transform 0.4s ease;
}

.navbar-menu-desktop li a:hover {
  color: #c86836;
}

.navbar-menu-desktop li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/*-----------------------------Hamburger------------------------*/
.hamburger-wrapper {
  display: none;
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 28px;
  color: #973021;
}

/*----------------------Mobile Menu---------------------------*/
.navbar-mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fdfdfd;
  border-top: 1px solid #c86836;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.menu-open.navbar-mobile-menu {
  display: flex;
}

.navbar-mobile-menu li {
  text-align: center;
  padding: 10px 0;
}

/*----------------------Responsive---------------------------*/
@media (max-width: 1366px) {
  .navbar-menu-desktop li a {
    font-size: 14px;
    padding: 2px 5px;
  }
}
@media (max-width: 1200px) {
  .navbar-menu-desktop li a {
    font-size: 12px;
  }
  .navbar-menu-desktop {
    gap: 10px;
  }
}
/* Tablet & Up */
@media (min-width: 992px) {
  .contact-mobile {
    display: none;
  }

  .hamburger-wrapper {
    display: none;
  }
}

/* Tablets & Small Laptops */
@media (max-width: 991px) {
  .navbar-header {
    padding: 20px 0px;
  }

   .navbar-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px; /* spacing between icons and hamburger */
    flex-wrap: nowrap;
  }

  .navbar-icons {
     display: flex;
    align-items: center;
    gap: 10px;
  }

  .contact-link {
    display: none;
  }

  .navbar-menu {
    gap: 0px;
  }

  .navbar-desktop-menu {
    display: none;
  }

  .navbar-menu li.contact-mobile {
    display: block;
  }

  .hamburger-wrapper {
    display: flex;
    margin: 0;
  }
}

/* Mobile */
@media (max-width: 575px) {
  .navbar-header {
    padding: 20px 0px;
  }

  .navbar-container {
    width: 100% !important;
    padding: 0px 20px !important;
  }

     .navbar-right-wrapper {
      margin-top: 20px;
     }

  .navbar-icons {
    gap: 10px;
  }

  .icon {
    font-size: 18px;
  }

  .cart-badge {
    font-size: 10px;
    min-width: 16px;
    top: -5px;
    right: -8px;
  }

  .navbar-mobile-menu li {
    padding: 5px 0px;
  }
}

@media (max-width: 480px) {
   .navbar-right-wrapper {
      margin-top: 10px;
     }
}


  @media (max-width: 360px) {
    .navbar-right-wrapper {
      margin-top: 5px;
     }
  }